{% extends "base.html.twig" %} {% block title %}
{{ project.name }}
{% endblock %} {% block body %}
<div class="text-center">
  <a href="{{ path('app_projects') }}" class="btn btn-sm btn-warning"
    >Sai daqui Cabrita</a
  >
  <h3>{{ project.name }}</h3>
  <p>{{ project.description }}</p>
</div>
{% endblock %}
